<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-screen"
    version="0.1.0">
    <name>nat-device-screen</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,screen</keywords>
    <repo>https://github.com/Natjs/weex-nat-device-screen.git</repo>
    <issue>https://github.com/Natjs/weex-nat-device-screen/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatScreen" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatDeviceBase" />
                 <param name="api" value="nat/device/screen" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatScreen.h"/>
         <source-file src="ios/WeexNatScreen.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
