<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-screen"
    version="0.1.2">
    <name>nat-device-screen</name>
    <description>Nat.js module: Screen</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,device,screen</keywords>
    <repo>https://github.com/natjs/weex-nat-device-screen.git</repo>
    <issue>https://github.com/natjs/weex-nat-device-screen/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatScreen" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatScreen" />
                 <param name="api" value="nat/device/screen" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatScreen.h"/>
         <source-file src="ios/WeexNatScreen.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="DeviceScreenModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.DeviceScreenModule" />
                 <param name="api" value="nat/device/screen" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>

        <source-file
             src="android/DeviceScreenModule.java"
            target-dir="src/com/alibaba/weex/nat/DeviceScreenModule.java" />

        <framework src="com.nat:device-screen:1.0.2" />
     </platform>

</plugin>
